*{
	margin: 0;
	padding: 0;
}

table{
	margin: 0 auto;
	border-collapse: collapse;
	width: 100%;
	margin-top: 20px;
}
table th, td{
	border: 1px solid black;
	padding: 4px 10px;
}
.lp{
	width: 20px;
}
.data{
	width: 100px;
}
table tr:hover{
	font-weight: 700;
}